name: cint pipeline

on:
  - push

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-18.04]
    steps:
      - uses: actions/checkout@v2
      - name: Compile
        run: |
          env
          cmake -DWITH_RANGE_COULOMB=1 -Bbuild .
          cmake --build build
